<div class="example-container">
  <mat-form-field appearance="fill">
    <mat-label>Enter your email</mat-label>
    <input matInput placeholder="mail@example.com" [formControl]="email" required>
    <mat-error *ngIf="email.invalid">{{getErrorMessageMail()}}</mat-error>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Textarea</mat-label>
    <textarea matInput [formControl]="textArea"></textarea>
    <mat-error *ngIf="textArea.invalid">{{getErrorMessageText()}}</mat-error>
  </mat-form-field>
  <app-button-reuse size="medium" (clicked)="onSubmit()"></app-button-reuse>
</div>
