<mat-grid-list cols="6" rowHeight="16.55vh">
  <mat-grid-tile
    [colspan]="1"
    [rowspan]="6">
    <app-sidebar></app-sidebar>
  </mat-grid-tile>
  <mat-grid-tile
    [colspan]="5"
    [rowspan]="1">
    <app-header
      [firstName]="customer.firstName"
      [lastName]="customer.lastName"></app-header>
  </mat-grid-tile>
  <mat-grid-tile
    [colspan]="2"
    [rowspan]="4">
    <app-main-left
      [todos]="todos"></app-main-left>
  </mat-grid-tile>

  <mat-grid-tile
    [colspan]="3"
    [rowspan]="4">
    <app-main-right
      [suggestions]="suggestions" ></app-main-right>
  </mat-grid-tile>
  <mat-grid-tile
    [colspan]="5"
    [rowspan]="1">
    <app-footer
      [phoneNumber]="customer.phoneNumber"
      [mail]="customer.mail"></app-footer>
  </mat-grid-tile>
</mat-grid-list>
